.container {
  display: flex;
  gap: 16px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statsRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.item {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
}

.title {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.numOfData {
  font-weight: normal;
  font-size: 48px;
  text-align: center;
}
