.button {
  border-radius: 10px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  color: #274d76;
  background: #fff;
  border: 1px solid #274d76;
  text-align: center;
  letter-spacing: 1.25px;
  padding: 8px;
}

.primary {
  background: #274d76;
  color: #fff;
}

.full {
  flex: 1;
}

.medium {
  width: 149px;
}

.small {
  width: 100px;
  height: 34px;
  border-color: #fff;
}

.disabled {
  background: #81a5cc;
}
